body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-family: ArtifaktElement;
}

#header,
#sidebar,
#preview {
    position: relative;
}

#header {
    width: 75%;
    display: flex;
    flex-flow: column nowrap;
    gap: 4px;
    align-items: center;
    justify-content: center;
}

#sidebar {
    width: 25%;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: scroll;
    background-color: #222831;
    color: aliceblue;
}

#preview {
    position: relative;
    width: 55%;
    flex: 1;
}

/* #header>* {
    height: 2em;
    margin: 0 0.5em;
} */

#login {
    font-family: ArtifaktElement;
    width: 70%;
    font-size: 1.2em;
    padding: 2px 4px 2px 4px;
    background-color: #222831;
    color: aliceblue;
}

#header .title {
    height: auto;
    margin-right: auto;
}

#tree {
    margin: 0.5em;
}

#backup-selected {
    cursor: not-allowed; /* Initial state */
}

#backup-selected:enabled {
    cursor: pointer; /* Change to pointer when enabled */
}


@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        top: 3em;
        bottom: 75%;
    }

    #preview {
        width: 100%;
        top: 25%;
        bottom: 0;
    }
}

.icon-hub:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/apps-16.svg);
    /* or https://raw.githubusercontent.com/primer/octicons/main/icons/stack-16.svg */
    background-size: cover;
}

.icon-project:before {

    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/project-16.svg);
    /* or https://raw.githubusercontent.com/primer/octicons/main/icons/organization-16.svg */
    background-size: cover;
}

.icon-my-folder:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-directory-16.svg);
    background-size: cover;
}

.icon-item:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/file-16.svg);
    background-size: cover;
}

.icon-version:before {
    background-image: url(https://raw.githubusercontent.com/primer/octicons/main/icons/clock-16.svg);
    background-size: cover;
}

#header .side-header{
    display: flex;
    flex-direction: column;
    height: 30%;
    padding: 4px;
    justify-content: center;
    align-items: center;
}

#header .backup{
    display: flex;
    width: 25%;
    flex-direction: column;
    height: 70%;
    justify-content: space-around;
    align-items: center;
}

.side-header .logo{
    width: 75%;
    height: 55%;
    object-fit: contain;
}


/* ----dropdown styles== */

.custom-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10;
    max-height: 350px;
    width: 300px;
    overflow: scroll;
}

.dropdown-content div {
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.custom-dropdown.show .dropdown-content {
    display: block;
}

.backup-all {
    font-family: ArtifaktElement;
    font-size: 1.2em;
    background-color: #222831;
    color: aliceblue;
}

.backup-selected {
    font-family: ArtifaktElement;
    font-size: 1.2em;
    background-color: #222831;
    color: aliceblue;
}

#hub-select {
    font-family: ArtifaktElement;
    font-size: 1.2em;
    background-color: #222831;
    color: aliceblue;
}

#project-select {
    font-family: ArtifaktElement;
    font-size: 1.2em;
    background-color: #222831;
    color: aliceblue;
}

.backup-all {
    font-family: ArtifaktElement;
    font-size: 1.2em;
    background-color: #222831;
    color: aliceblue;
}

.backup-selected {
    font-family: ArtifaktElement;
    font-size: 1.2em;
    background-color: #222831;
    color: aliceblue;
}

#hub-select {
    font-family: ArtifaktElement;
    font-size: 1.2em;
    background-color: #222831;
    color: aliceblue;
}

/* #project-select {
    font-family: ArtifaktElement;
    font-size: 1em;
    background-color: #222831;
    color: aliceblue;
    border-radius: 5px;
} */

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
    background: #6d4f3e;

  }
  
  ::-webkit-scrollbar-track {
    border-radius: 50vh;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #6d4f3e;
    border-radius: 50vh;
  }